#body {
    background-color: rgb(22, 100, 74);
}

#grid {
    /* margin: 100px; */
    /* background-color: black; */
}


button {
    background-color: blue;
    width: 35px;
    border-radius: 2px;
    height: 35px;
    margin: 5px;
}


.globalSliders {
    /* margin: 50px 10px 0; */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 200px;
    padding: 0 5px;
  }

  .globalSliders::-webkit-slider-runnable-track{
    background: rgb(129, 72, 129);
  }

  .globalSlidersValueDiv {
    display:flex;
    margin-left: 12px;
    column-gap: 21px;
  }

.sequencer {

    margin: 50px 10px 0;
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 200px;
    padding: 0 5px;
  }
  .sequencer::-webkit-slider-runnable-track{
    background: rgb(129, 72, 129);
  }
  
  .sequencer.activeSlider::-webkit-slider-runnable-track{
    background: rgb(98, 255, 127)
   }
   
  .sequencer.currentSlider::-webkit-slider-runnable-track{
   background: rgb(255, 52, 211);
  }
  .sequencer.lastStep::-webkit-slider-runnable-track{
    background: black
   }
   
#sequencerDiv{
    /* margin: 100px; */
}
  .sequencerValueDiv {
    display:flex;
    /* margin: 100px; */
    /* margin-left: 12px; */
    column-gap: 21px;
  }


.label{
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(46, 53, 59);

}

.stepElement {
    width: 20%;
    height: 100%;
    position: relative;
    float: left;
    background-color: black;
    opacity: 0;
    transition: opacity 0.5s;
}

.stepBtn.active {
    opacity: 0;
    transition-duration: 0.1s;
}

.stepBtn.activeStep {
    background-color: rgb(98, 255, 127)
}

.stepBtn.lastStep{
    background-color: black;
}
.stepBtn.playHead {
    background-color: rgb(255, 52, 211);
}

